{{#if shouldRender}}
  {{#if isWhispering}}
    <p class="whisper-hint whispering">{{d-icon "far-eye-slash"}}
      {{html-safe this.whisperLabel}}</p>
  {{else}}
    <p class="whisper-hint public">{{d-icon "reply"}}
      {{html-safe this.publicLabel}}</p>
  {{/if}}
{{/if}}